################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Entities/bin
/Entities/obj
/Services/bin
/Services/obj
/Ultilities/bin
/Ultilities/obj
/Web/bin
/Web/obj
.vs/Web/DesignTimeBuild/.dtbcache.v2
.vs/Web/v16/.suo
fe/collections.html
fe/contact.html
fe/dogiadung.html
fe/index.html
fe/layout.html
fe/login.html
fe/may-tap-the-duc.html
fe/maydonggoi.html
fe/maygiaikhat.html
fe/maylockhongkhi.html
fe/maymassage.html
fe/maythucpham.html
fe/phukien.html
fe/promotion.html
fe/register.html
fe/xe-dap-the-thao.html
fe/css/account_order_style.scss.css
fe/css/base.scss.css
fe/css/bootstrap.min.css
fe/css/bpr-products-module.css
fe/css/module.scss.css
fe/css/owl.carousel.min.css
fe/css/responsive.scss.css
fe/css/style.scss.css
fe/fonts/glyphicons-halflings-regular.eot
fe/fonts/glyphicons-halflings-regular.ttf
fe/fonts/glyphicons-halflings-regular.woff
fe/fonts/glyphicons-halflings-regular.woff2
fe/images/20200808024521-may-massage.jpg
fe/images/20210218035423-may-xay-thit-1.jpg
fe/images/20211218161425-may-lam-mat-nuoc-trai-cay-3-ngan-dang-xoay-20200725034920-may-lam-lanh-nuoc-trai-cay-3-ngan-3-1.jpg
fe/images/20220730093159-bepchienl12-1.png
fe/images/banner_1_1.jpg
fe/images/banner_1.jpg
fe/images/banner_2_1.jpg
fe/images/banner_2.jpg
fe/images/banner_3_1.jpg
fe/images/banner_3.jpg
fe/images/bg_header-mobile.png
fe/images/bg_titlehead.png
fe/images/btn-delete.png
fe/images/btn-edit.png
fe/images/change.png
fe/images/favicon.png
fe/images/fb-btn.svg
fe/images/glyphicons-halflings-regular.svg
fe/images/gp-btn.svg
fe/images/i_menubar.png
fe/images/ico-select.png
fe/images/icon_add_footer.png
fe/images/icon_tuvan.png
fe/images/icon-check.png
fe/images/logo_1.png
fe/images/logo_bct.png
fe/images/logo.png
fe/images/messicon.png
fe/images/owl.video.play.png
fe/images/pay.png
fe/images/phone_footer.png
fe/images/phone.png
fe/images/saving.png
fe/images/shiper.png
fe/images/shopping_cart.png
fe/images/slider_1_1.jpg
fe/images/slider_1_2.jpg
fe/images/slider_1_3.jpg
fe/images/slider_1_4.jpg
fe/images/slider_1.jpg
fe/images/slider_2_1.jpg
fe/images/slider_2_2.jpg
fe/images/slider_2_3.jpg
fe/images/slider_2_4.jpg
fe/images/slider_2.jpg
fe/images/slider_3_1.jpg
fe/images/slider_3_2.jpg
fe/images/slider_3_3.jpg
fe/images/slider_3_4.jpg
fe/images/slider_3.jpg
fe/images/slider_4_1.jpg
fe/images/slider_4_2.jpg
fe/images/slider_4_3.jpg
fe/images/slider_4_4.jpg
fe/images/slider_4.jpg
fe/images/time_off.png
fe/images/zaloicon.png
fe/js/6668_1.js
fe/js/6668.js
fe/js/api.jquery.js
fe/js/api.js
fe/js/bizweb-api.js
fe/js/bootstrap.min.js
fe/js/common.js
fe/js/customer.js
fe/js/gtm.js
fe/js/main.js
fe/js/option-selectors.js
fe/js/owl.carousel.min.js
fe/js/productreviews.min.js
fe/js/quickview.js
fe/js/search_filter.js
fe/js/stats.min.js
Web/obj/project.assets.json
Web/obj/project.nuget.cache
Web/obj/Web.csproj.nuget.dgspec.json
Web/obj/Web.csproj.nuget.g.props
Web/obj/Debug/net5.0/Web.csproj.FileListAbsolute.txt
Web/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
Web/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
