################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Entities/bin
/Entities/obj
/Services/bin
/Services/obj
/Ultilities/bin
/Ultilities/obj
/Web/bin
/Web/obj
.vs/Web/DesignTimeBuild/.dtbcache.v2
.vs/Web/v16/.suo
fe/collections.html
fe/contact.html
fe/dogiadung.html
fe/index.html
fe/layout.html
fe/login.html
fe/may-tap-the-duc.html
fe/maydonggoi.html
fe/maygiaikhat.html
fe/maylockhongkhi.html
fe/maymassage.html
fe/maythucpham.html
fe/phukien.html
fe/promotion.html
fe/register.html
fe/xe-dap-the-thao.html
fe/css/account_order_style.scss.css
fe/css/base.scss.css
fe/css/bootstrap.min.css
fe/css/bpr-products-module.css
fe/css/module.scss.css
fe/css/owl.carousel.min.css
fe/css/responsive.scss.css
fe/css/style.scss.css
fe/fonts/glyphicons-halflings-regular.eot
fe/fonts/glyphicons-halflings-regular.ttf
fe/fonts/glyphicons-halflings-regular.woff
fe/fonts/glyphicons-halflings-regular.woff2
fe/images/20200808024521-may-massage.jpg
fe/images/20210218035423-may-xay-thit-1.jpg
fe/images/20211218161425-may-lam-mat-nuoc-trai-cay-3-ngan-dang-xoay-20200725034920-may-lam-lanh-nuoc-trai-cay-3-ngan-3-1.jpg
fe/images/20220730093159-bepchienl12-1.png
fe/images/banner_1_1.jpg
fe/images/banner_1.jpg
fe/images/banner_2_1.jpg
fe/images/banner_2.jpg
fe/images/banner_3_1.jpg
fe/images/banner_3.jpg
fe/images/bg_header-mobile.png
fe/images/bg_titlehead.png
fe/images/btn-delete.png
fe/images/btn-edit.png
fe/images/change.png
fe/images/favicon.png
fe/images/fb-btn.svg
fe/images/glyphicons-halflings-regular.svg
fe/images/gp-btn.svg
fe/images/i_menubar.png
fe/images/ico-select.png
fe/images/icon_add_footer.png
fe/images/icon_tuvan.png
fe/images/icon-check.png
fe/images/logo_1.png
fe/images/logo_bct.png
fe/images/logo.png
fe/images/messicon.png
fe/images/owl.video.play.png
fe/images/pay.png
fe/images/phone_footer.png
fe/images/phone.png
fe/images/saving.png
fe/images/shiper.png
fe/images/shopping_cart.png
fe/images/slider_1_1.jpg
fe/images/slider_1_2.jpg
fe/images/slider_1_3.jpg
fe/images/slider_1_4.jpg
fe/images/slider_1.jpg
fe/images/slider_2_1.jpg
fe/images/slider_2_2.jpg
fe/images/slider_2_3.jpg
fe/images/slider_2_4.jpg
fe/images/slider_2.jpg
fe/images/slider_3_1.jpg
fe/images/slider_3_2.jpg
fe/images/slider_3_3.jpg
fe/images/slider_3_4.jpg
fe/images/slider_3.jpg
fe/images/slider_4_1.jpg
fe/images/slider_4_2.jpg
fe/images/slider_4_3.jpg
fe/images/slider_4_4.jpg
fe/images/slider_4.jpg
fe/images/time_off.png
fe/images/zaloicon.png
fe/js/6668_1.js
fe/js/6668.js
fe/js/api.jquery.js
fe/js/api.js
fe/js/bizweb-api.js
fe/js/bootstrap.min.js
fe/js/common.js
fe/js/customer.js
fe/js/gtm.js
fe/js/main.js
fe/js/option-selectors.js
fe/js/owl.carousel.min.js
fe/js/productreviews.min.js
fe/js/quickview.js
fe/js/search_filter.js
fe/js/stats.min.js
Web/obj/project.assets.json
Web/obj/project.nuget.cache
Web/obj/Web.csproj.nuget.dgspec.json
Web/obj/Web.csproj.nuget.g.props
Web/obj/Debug/net5.0/Web.csproj.FileListAbsolute.txt
Web/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
Web/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
.vs/Web/FileContentIndex/2b9bab97-2985-47e3-ae0c-4bc91f44471e.vsidx
.vs/Web/FileContentIndex/2c1a423a-cd1f-4dfa-b349-b4a75a24bf0e.vsidx
.vs/Web/FileContentIndex/95751b70-b882-499d-9327-a4a61a6f9e84.vsidx
.vs/Web/FileContentIndex/46078794-3b27-4931-b111-07450263269b.vsidx
.vs/Web/FileContentIndex/bd7c6fd4-cad5-4e1e-97cd-a93d7eee09f4.vsidx
.vs/Web/v17/.suo
.vs/Web/v17/DocumentLayout.json
.vs/base-da-qlbh/FileContentIndex/704c1f71-c8bc-431a-bf43-eb8f4a01f64e.vsidx
.vs/base-da-qlbh/FileContentIndex/938a1c73-90c2-42bf-ab02-a4c9a12f99bf.vsidx
.vs/base-da-qlbh/v17/.wsuo
.vs/base-da-qlbh/v17/DocumentLayout.json
.vs/base-da-qlbh/v17/workspaceFileList.bin
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/collections.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/contact.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/dogiadung.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/index.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/login.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/may-tap-the-duc.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/maydonggoi.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/maygiaikhat.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/maylockhongkhi.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/maymassage.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/maythucpham.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/phukien.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/promotion.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/register.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/xe-dap-the-thao.html
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/css/account_order_style.scss.css
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/css/base.scss.css
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/css/bootstrap.min.css
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/css/bpr-products-module.css
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/css/module.scss.css
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/css/owl.carousel.min.css
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/css/responsive.scss.css
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/css/style.scss.css
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/fonts/glyphicons-halflings-regular.eot
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/fonts/glyphicons-halflings-regular.ttf
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/fonts/glyphicons-halflings-regular.woff
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/fonts/glyphicons-halflings-regular.woff2
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/20200808024521-may-massage.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/20210218035423-may-xay-thit-1.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/20211218161425-may-lam-mat-nuoc-trai-cay-3-ngan-dang-xoay-20200725034920-may-lam-lanh-nuoc-trai-cay-3-ngan-3-1.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/20220730093159-bepchienl12-1.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/banner_1_1.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/banner_1.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/banner_2_1.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/banner_2.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/banner_3_1.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/banner_3.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/bg_header-mobile.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/bg_titlehead.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/btn-delete.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/btn-edit.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/change.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/favicon.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/fb-btn.svg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/glyphicons-halflings-regular.svg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/gp-btn.svg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/i_menubar.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/ico-select.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/icon_add_footer.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/icon_tuvan.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/icon-check.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/logo_1.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/logo_bct.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/logo.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/messicon.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/owl.video.play.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/pay.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/phone_footer.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/phone.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/saving.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/shiper.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/shopping_cart.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_1_1.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_1_2.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_1_3.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_1_4.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_1.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_2_1.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_2_2.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_2_3.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_2_4.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_2.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_3_1.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_3_2.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_3_3.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_3_4.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_3.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_4_1.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_4_2.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_4_3.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_4_4.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/slider_4.jpg
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/time_off.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/images/zaloicon.png
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/6668_1.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/6668.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/api.jquery.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/api.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/bizweb-api.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/bootstrap.min.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/common.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/customer.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/gtm.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/headerjs.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/main.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/option-selectors.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/owl.carousel.min.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/productreviews.min.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/quickview.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/search_filter.js
Web/FE/saveweb2zip-com-dienmaytiendat-vn (1)/js/stats.min.js
