@model Entities.DTOs.AccountLoginDTO
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span></span>
<section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 a-left">
                <ul class="breadcrumb">
                    <li class="home">
                        <a href="/"><span>Trang chủ</span></a>
                        <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                    </li>

                    <li><strong><span>Đăng nhập tài khoản</span></strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>
@if (ViewData["Error"] != null)
{
    <hr />
    <div class="alert alert-danger p-2 mb-2">@ViewData["Error"].ToString()</div>
}
<div class="container margin-bottom-20">
    <h1 class="title-head"><span>Đăng nhập tài khoản</span></h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="page-login">
                <div id="login">
                    <span>
                        Nếu bạn đã có tài khoản, đăng nhập tại đây.
                    </span>

                    <form method="post" action="@Url.ActionLink("Login")" asp-antiforgery="true" id="customer_login"
                        accept-charset="UTF-8">
                        <input name="FormType" type="hidden" value="customer_login"><input name="utf8" type="hidden"
                            value="true">
                        <div class="form-signup">

                        </div>
                        <div class="form-signup clearfix">
                            <fieldset class="form-group">
                                <label>Tên đăng nhập <span class="required">*</span></label>
                                <input type="text"
                                    class="form-control form-control-lg" value="" name="username" id="customer_email"
                                    placeholder="Tên đăng nhập" required="">
                            </fieldset>
                            <fieldset class="form-group">
                                <label>Mật khẩu <span class="required">*</span></label>
                                <input type="password" class="form-control form-control-lg" value="" name="password"
                                    id="customer_password" placeholder="Mật khẩu" required="">
                            </fieldset>



                            <div class="pull-xs-left" style="margin-top: 25px;">
                                <input class="btn btn-style btn-primary" type="submit" value="Đăng nhập">
                                <a href="/dang-ky" class="btn-link-style btn-register"
                                    style="margin-left: 20px;text-decoration: underline; ">Đăng ký</a>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div class="col-lg-6 h_recover">

            <div id="recover-password" class="form-signup page-login">
                <span>
                    Bạn quên mật khẩu? Nhập địa chỉ email để lấy lại mật khẩu qua email.
                </span>
                <form method="post" action="/account/recover" id="recover_customer_password" accept-charset="UTF-8">
                    <input name="FormType" type="hidden" value="recover_customer_password"><input name="utf8"
                        type="hidden" value="true">
                    <div class="form-signup" style="color: red;">

                    </div>
                    <div class="form-signup clearfix">
                        <fieldset class="form-group">
                            <label>Email <span class="required">*</span></label>
                            <input type="email"
                                class="form-control form-control-lg" value="" name="Email" id="recover-email"
                                placeholder="Email" required="">
                        </fieldset>
                    </div>
                    <div class="action_bottom">
                        <input class="btn btn-style btn-primary" style="margin-top: 28px;" type="submit"
                            value="Lấy lại mật khẩu">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if (localStorage["username"] != null && localStorage["username"] != undefined && localStorage["password"] != null && localStorage["password"] != undefined) {
        var u = document.getElementById("usernameLogin");
        var p = document.getElementById("passwordLogin");
        u.value = localStorage["username"];
        p.value = localStorage["password"];
        localStorage.removeItem("username");
        localStorage.removeItem("password");
    }
    function saveLogin() {
        var check = document.getElementById("savePassLogin")
        var checkvalue = check.checked;
        if (checkvalue === true) {
            var u = document.getElementById("usernameLogin");
            var p = document.getElementById("passwordLogin");
            localStorage["username"] = u.value;
            localStorage["password"] = p.value;
        }
    }
</script>
