@{
    ViewData["Title"] = "Nhập hàng";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    var listCode = (List<Entities.DTOs.ImportProductViewModel?>)ViewBag.ListImportProduct;
}
<!-- /.card-header -->
<div class="card-body">
    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width:5%">STT</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width:10%">Mã SP</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width:5%">ID</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width:40%">Tên SP</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width:10%">Đơn giá (kĐ)</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width:10%">Số lượng</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width:10%">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody id="importProductTableBody">
                    </tbody>
                    <tfoot>
                        <tr id="thisRow" style="background-color: #dbdbdb">
                            <td></td>
                            <td class="codeProduct">
                                <input list="listCode" id="waitKeycode" placeholder="---Nhập mã sản phẩm" onkeyup="searchByKeyCode(this.value,waitId,waitName)" style="width: 100%; padding: 5px; display: inline-block; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;" />
                                <datalist id="listCode">
                                    @foreach (var item in listCode)
                                    {
                                        <option value="@item.Code"></option>
                                    }
                                </datalist>
                            </td>
                            <td id="waitId" class="idProduct"></td>
                            <td id="waitName" class="nameProduct"></td>
                            <td><input id="waitPrice" value="0" min="0" type="number" style="width: 100%; padding: 5px; display: inline-block; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;" /></td>
                            <td><input id="waitQuantity" value="0" type="number" min="0" style="width: 100%; padding: 5px; display: inline-block; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><button id="addItem" class="btn btn-primary" style="width:100%" onclick="addMoreRow(waitKeycode, waitId, waitName, waitQuantity,waitPrice)">Thêm</button></td>
                            <td colspan="5" id="mes" style="color:red"></td>
                            <td>
                                <button class="btn btn-success" onclick="sendReq()">
                                    Nhập hàng
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.card-body -->
<script type="text/javascript">
    var count = 1;
    function addMoreRow(k, i, n, q,p) {
        if (k.value == "" || i.innerHTML == "" || n.innerHTML == "") {
            document.getElementById("mes").innerHTML = "Thông tin nhập hàng chưa đủ";
        }
        else if (q.value <= 0) {
            document.getElementById("mes").innerHTML = "Nhập số lượng";
        }
        else if (p.value<=0)
        {
            document.getElementById("mes").innerHTML = "Nhập đơn giá";
        }
        else
        {
            var tableBody = document.getElementById("importProductTableBody");
            var row = document.createElement('tr');
            row.id = k.value;
            row.innerHTML = `<tr>
                            <td contenteditable="false">`+ count + `</td>
                            <td contenteditable="false">`+ k.value + `</td>
                            <td contenteditable="false">`+ i.innerHTML + `</td>
                            <td contenteditable="false">`+ n.innerHTML + `</td>
                            <td contenteditable="false" type="number"><input value="`+ p.value + `" min="0" type="number" style="width: 100%; padding: 5px; display: inline-block; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;"/></td>
                            <td contenteditable="false" type="number"><input value="`+ q.value + `" min="0" type="number" style="width: 100%; padding: 5px; display: inline-block; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;"/></td>
                        </tr>`;
            tableBody.innerHTML = tableBody.innerHTML + row.innerHTML;
            count++;
            i.innerHTML = n.innerHTML = "";
            k.value = ""; q.value = 0; p.value = 0;
        }
    }

    function deleteImportItem(obj) {
       obj.parentElement.parentElement.remove();
    }

    function searchByKeyCode(value,i,n) {
        $.ajax({
            url: "@Url.Action("SearchProductByKeyCode", "Product")",
            data: { keyCode: value },
            type: 'POST',
            dataType: 'json',
            success: function (res) {

                if (res.status == true) {
                    i.innerHTML = res.obj.ProductID;
                    n.innerHTML = res.obj.Name;
                    document.getElementById("mes").innerHTML = "";
                }
                else {
                    i.innerHTML = "";
                    n.innerHTML = "";
                    document.getElementById("mes").innerHTML = res.message;
                }
            }
        });
    }

    function sendReq() {
        document.getElementById("mes").innerHTML = 'Sau khi nhập hành thành công, hệ thống sẽ gửi file Excel nhập hàng!';
        var listObj = [];
        var list = document.getElementById("importProductTableBody").rows;
        var length = list.length;
        for (i = 0; i < length; i++) {
            var obj = {};
            obj.ProductID = parseInt(list[i].cells[2].innerHTML);
            obj.Quantity = parseInt(list[i].cells[5].children[0].value);
            obj.Code = list[i].cells[1].innerHTML;
            obj.Name = list[i].cells[3].innerHTML;
            obj.Price = parseInt(list[i].cells[4].children[0].value+"000");
            listObj.push(obj);
        };
        $.ajax({
            url: "@Url.Action("ImportProduct","Import")",
            data: { jsonString: JSON.stringify(listObj) },
            type: "POST",
            dataType: "json",
            success: function (res) {
                if (res.status == true) {
                    window.location.href = res.filePath;
                }
                else {
                    alert("Có lỗi xảy ra vui lòng nhập hàng lại")
                }
            }
        });
    }
</script>