
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Breadcrumbs Section -->
<section class="breadcrumbs-section background_bg" data-img-src="/assets/images/aboutus-breadcrumbs-img.jpg" style="        background: url(&quot;/assets/images/aboutus-breadcrumbs-img.jpg&quot;) center center / cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page_title text-center">
                    <h1>Giới thiệu</h1>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="/">Trang chủ</a></li>
                        <li><span>Giới thiệu</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Header Section -->
<!-- Start Contact Detail Section -->
<section class="aboutus-inner-page pt_large pb_large">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-info-img">
                    <img src="~/assets/images/mina_shop_thoi_trang_cho_tuoi_teen.jpg" />
                </div>
                <div class="about-info-img">
                    <img src="/assets/images/mina_shop_thoi_trang_cho_tuoi_teen2.jpg" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-info">
                    <ul class="about-points">
                        <li><span class="fa fa-hand-o-right"></span>1. Giới thiệu về Mina Shop</li>
                        <li>
                            <br />
                            <p>
                                ◾ MINA - Thời trang nữ dành cho giới trẻ!
                            </p>
                            <br />
                            <p>
                                ◾ Đến với MINA Shop là đến với thế giới thời trang vô cùng đa dạng về mẫu mã, kiểu dáng. MINA Shop rất hiểu tâm lí và thị hiếu của những khách hàng, luôn cập nhật những xu hướng thời trang mới nhất.
                            </p>
                            <br />
                            <p>
                                ◾ Những sản phẩm của MINA Shop đa dạng giúp để các bạn nữ tha hồ lựa chọn, “mix and match” nhiều phong cách khác nhau từ nữ tính nhẹ nhàng đến vintage hoặc cá tính, sexy. Mina luôn cố gắng tìm kiếm những sản phẩm có chất lượng tốt cẩn thận trong từng đường kim mũi chỉ, chất vải đẹp, khi đến với MINA Shop bạn sẽ hoàn toàn yên tâm về chất lượng.
                            </p>
                            <br />
                            <p>
                                ◾ Hotline: 0867 881 345
                            </p>
                            <br />
                        </li>
                        <li><span class="fa fa-hand-o-right"></span>2. Hệ thống của Mina Shop</li>
                        <li>
                            <br />
                            <p>◾ 63 Hồ Tùng Mậu - Hà Nội</p>
                            <br />
                            <p>◾ 204 Nguyễn Trãi - Hà Đông - Hà Nội</p>
                            <br />
                            <p>◾ 216M Nguyễn Trãi - Hà Đông</p>
                            <br />
                            <p>◾ 350 Cầu Giấy</p>
                            <br />
                            <p>◾ 972 Láng</p>
                            <br />
                            <p>◾ 68 Chùa Bộc</p>
                            <br />
                            <p>◾ 62 Lương Ngọc Quyến - Tp Thái Nguyên</p>
                            <br />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Detail Section -->
<!-- Start Contact Detail Section -->
<section class="counters-section background_bg" data-img-src="assets/images/counter-bc.jpg" style="        background: url(&quot;assets/images/counter-bc.jpg&quot;) center center / cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="counter-inner">
                    <span class="counter">86</span>
                    <p>Sản phẩm</p>
                </div>
                <div class="counter-inner">
                    <span class="counter">7</span>
                    <p>Cửa hàng</p>
                </div>
                <div class="counter-inner">
                    <span class="counter">168</span>
                    <p>Khách hàng hài lòng về sản phẩm</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Detail Section -->
<!-- Start Event Section-->
<section class="event-section pt_large">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="event-box box-3">
                    <div class="event-icon">
                        <span class="ion-thumbsup"></span>
                    </div>
                    <p class="event-title">SẢN PHẨM ĐA DẠNG</p>
                    <p class="event-text">MinaShop đa dạng về sản phẩm, luôn đáp ứng nhu cầu, thị hiếu của tất cả các bạn trẻ.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="event-box box-3">
                    <div class="event-icon">
                        <span class="ion-thumbsup"></span>
                    </div>
                    <p class="event-title">BẮT KỊP XU HƯỚNG</p>
                    <p class="event-text">MinaShop luôn cập nhật xu hướng thời trang của trong và ngoài nước, đem lại những sản phẩm tốt nhất dành cho các bạn. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="event-box box-3">
                    <div class="event-icon">
                        <span class="ion-thumbsup"></span>
                    </div>
                    <p class="event-title">CHẤT LƯỢNG TUỴÊT VỜI</p>
                    <p class="event-text">MinaShop luôn đảm bảo chất lượng sản phẩm, các sản phẩm luôn có chất lượng tốt, đem lại cảm giác thoải mái khi sử dụng.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Event Section-->
<partial name="~/Views/Shared/_Review.cshtml" />