@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Breadcrumbs Section -->
<section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 a-left">
                <ul class="breadcrumb">
                    <li class="home">
                        <a href="/"><span>Trang chủ</span></a>
                        <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                    </li>

                    <li><strong><span>Giới thiệu</span></strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Header Section -->
<!-- Start Contact Detail Section -->
<section class="page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="page-title category-title">
                    <h1 class="title-head"><a href="#">Giới thiệu</a></h1>
                </div>
                <div class="content-page rte">
                    <p><strong>Công ty TNHH DV &amp; TM Máy Thực Phẩm NHDHN</strong>&nbsp;(hay&nbsp;<em>Điện Máy Tiến
                            Đạt</em>) là công ty uy tín trong lĩnh vực chuyên phân phối&nbsp;các dòng sản phẩm&nbsp;máy
                        làm kem (máy làm kem&nbsp;tươi, máy làm kem cứng, máy làm kem cuộn) và bột làm kem chất lượng
                        cao&nbsp;cho các doanh nghiệp lớn như Lotteria, Lotte Đất Việt,… Không chỉ thế, Tiến
                        Đạt&nbsp;còn phân phối các dòng sản phẩm dành cho&nbsp;kinh doanh và dịch vụ&nbsp;như máy hút
                        chân không, máy massage, các thiết bị gia dụng và điện lạnh.&nbsp;Đặc biệt nhất tại Điện máy
                        NHDHN&nbsp;đó chính là&nbsp;phân phối&nbsp;các dòng sản phẩm mới được thiết kế
                        bởi&nbsp;<strong>Goodfor</strong>&nbsp;(U.S.A) cho các phòng tập GYM trên toàn quốc như máy chạy
                        bộ điện, xe đạp thể dục, máy tập cơ bụng…</p>
                    <p>&nbsp;</p>
                    <blockquote>
                        <p>– Giám đốc : Lê Thị Oanh</p>
                        <p>– Website:&nbsp;<a
                                href="http://dienmayhoanglong.vn/">http://dienmaytiendat.vn</a>&nbsp;&nbsp;</p>
                    </blockquote>
                    <p>&nbsp;</p>
                    <p><strong>TRỤ SỞ CHÍNH</strong></p>
                    <p>CÔNG TY TNHH DỊCH VỤ VÀ THƯƠNG MẠI MÁY THỰC PHẨM NHDHN</p>
                    <p>Địa chỉ : Số 215 Phố Nguyễn Đức Cảnh, Phường Tương Mai, Quận Hoàng Mai, Thành Phố Hà Nội, Việt
                        Nam</p>
                    <p>MST : 0110120028</p>
                    <hr>
                    <address>
                        <p>&nbsp;</p>
                    </address>

                    <ul>
                        <li>
                            <p><b><i>Cửa hàng tại miền bắc </i></b>&nbsp; :&nbsp;&nbsp;<b><i></i></b>Lô số 03B - Tầng 1
                                - Tòa B Chung Cư Hateco Yên Sở - Hoàng Mai - Hà Nội _ Điện thoại&nbsp;
                                0987983948&nbsp;(Ms Oanh)</p>
                        </li>
                        <li><b><i>Cửa hàng tại miền nam :</i></b>&nbsp;&nbsp;579-581 Tạ Quang Bửu, Phường 4, Quận 8,
                            TP.HCM _ Điện thoại 0123456789 ( Ms Trang)</li>
                    </ul>

                    <p>&nbsp;</p>

                    <p><strong>THANH TOÁN CHUYỂN KHOẢN</strong></p>

                    <hr>
                    <p><strong>NH Á Châu (ACB):</strong>&nbsp;Công ty TNHH DV &amp; TM Máy thực Phẩm NHDHN</p>

                    <ul>
                        <li>STK:&nbsp;1668.888.666</li>
                        <li>NH &nbsp;ACB chi nhánh Thăng Long</li>
                    </ul>

                    <p>&nbsp;</p>

                    <p style="text-align: justify;">&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</section>
