@using Microsoft.AspNetCore.Http
@model Entities.DTOs.SendContactModel
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var message = (string)TempData["sentContact"];
}
<!-- Start Breadcrumbs Section -->
<section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 a-left">
                <ul class="breadcrumb">
                    <li class="home">
                        <a href="/"><span>Trang chủ</span></a>
                        <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                    </li>

                    <li><strong><span>Liên hệ</span></strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>
<style>
    .box-maps iframe {
        width: 100%;
        vertical-align: top
    }
</style>
<!-- End Header Section -->
<section class="margin-top-0">
    <div class="container">
        <div class="row">
            <div class="section_maps col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20">
                <div class="title_head margin-bottom-20">
                    <h1 class="title_center_page title-head-contact">
                        <span>Bản đồ liên hệ</span>
                    </h1>
                </div>
                <div class="box-maps">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.853141082949!2d105.81396581443802!3d21.0785269859714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab1aa346e469%3A0xd0ce38632af09897!2zxJBJ4buGTiBNw4FZIFTDglkgSOG7kiAtIDY3MCBM4bqgQyBMT05HIFFVw4JO!5e0!3m2!1svi!2s!4v1609917468273!5m2!1svi!2s"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Contact Detail Section -->
<section class="contact-inner-page pt_large">
    <div class="container">
        <div id="alertSent">
            @if (message == "success")
            {
                <div class="alert alert-success">Đã gửi</div>
            }
            else if (message == "error")
            {
                <div class="alert alert-danger">Lời nhắn chưa được gửi, vui lòng gửi lại sau!</div>
            }
        </div>
        <script>
            $("#alertSent").fadeOut();
        </script>
        <div class="container contact contact-owf">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="page-login page_cotact">
                        <h2 class="title-head-contact a-left"><span>Liên hệ với chúng tôi:</span></h2>
                        <div id="pagelogin">
                            <form method="post" class="contact-form form-with-label"
                                action="@Url.Action("Contact","Home")" asp-antiforgery="true">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label>Họ và tên:</label>
                                    <input required="true" class="form-control  form-control-lg" name="name"
                                        placeholder="Nhập họ tên" value="" type="text">
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label>Email:</label>
                                    <input required="true" class="form-control  form-control-lg" name="email"
                                        placeholder="Nhập Email" value="" type="email">
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label>Số điện thoại:</label>
                                    <input required="true" class="form-control  form-control-lg" name="phone"
                                        placeholder="Nhập số điện thoại" value="" type="text">
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label>Tiêu đề:</label>
                                    <input required="true" class="form-control  form-control-lg" name="subject"
                                        placeholder="Nhập tiêu đề" value="" type="text">
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label>Tin nhắn:</label>
                                    <textarea required="true" rows="5" class="form-control  form-control-lg"
                                        name="description" placeholder="Nhập nội dung"></textarea>
                                </div>
                                <div class="submit-btn">
                                    <button type="submit" class="btn btn-primary">Gửi liên hệ</button>
                                </div>
                                <input type="hidden" name="url" id="sendUrl" value="https://localhost:5001/lien-he">

                                <input type="hidden" name="type" value="1">
                                <div class="col-md-12">
                                    <div id="alert-msg" class="alert-msg text-center"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="select_maps col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="bb">
                        <div class="page_cotact">
                            <h2 class="title_db"><span>CÔNG TY TNHH DV VÀ TM MÁY THỰC PHẨM TIẾN ĐẠT</span></h2>
                        </div>
                        <div class="contact-addresss margin-bottom-10">
                            <ul class="contact">
                                <li>
                                    <span class="txt_content_child">
                                        <span> Địa chỉ:</span>

                                        Lô 03, Tầng 1, tòa B Chung cư hateco- Phường yên sở - Hoàng Mai- TP Hà nội. MST
                                        0110120028 do Sở kế hoạch đầu tư TP Hà Nội cấp ngày 16/09/2022

                                    </span>
                                </li>
                                <li class="sdt">
                                    <span> Hotline:</span>

                                    <a href="tel:0987983948">0987983948</a>

                                    <span>-</span>
                                    <span class="email_style"><span> Email:</span>



                                        <a href="mailto:dienmaytiendatvn@gmail.com"> dienmaytiendatvn@gmail.com</a>


                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="aa">
                        <div class="page_cotact">
                            <h2 class="title_db"><span>Hệ thống cửa hàng</span></h2>
                        </div>
                        <div class="city_1 city-wrapper" style="display: block;">
                            <div class="nano has-scrollbar">
                                <div class="content">






                                    <div class="showroom-item">
                                        <div class="title-module-page">
                                            <h2><span>Showroom Miền bắc</span></h2>
                                        </div>
                                        <span class="showroom-address">
                                            <span>Địa chỉ:
                                                Lô 03, Tầng 1, tòa B Chung cư hateco- Phường yên sở - Hoàng Mai- TP Hà
                                                nội
                                            </span>
                                        </span>

                                        <span class="showroom-contact"><span>Hotline:
                                                <a href="tel:0987983948">0987983948</a>
                                            </span></span>

                                    </div>







                                    <div class="showroom-item">
                                        <div class="title-module-page">
                                            <h2><span>Showroom Miền nam</span></h2>
                                        </div>
                                        <span class="showroom-address">
                                            <span>Địa chỉ:
                                                579-581 Tạ Quang Bửu, Phường 4, Quận 8, TP.HCM
                                            </span>
                                        </span>

                                        <span class="showroom-contact"><span>Hotline:
                                                <a href="tel:0949089879">0949089879</a>
                                            </span></span>

                                    </div>









                                </div>
                            </div>
                        </div>
                    </div>

                    <span class="thank_text">
                        Công ty chân thành cảm ơn sự quan tâm của quý khách đến các sản phẩm và dịch vụ của chúng tôi!
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
