@{
    ViewData["Title"] = "Trang chủ";
}
@{
    // var listHomeHot = (List<Entities.DTOs.ProductViewModel>)ViewBag.ListHomeHot;
    // var listHome = (List<Entities.DTOs.ProductViewModel>)ViewBag.ListHome;
    // var listNewsHomeHot = (List<Entities.DTOs.NewsViewModel>)ViewBag.NewsHomeHot;
    // var listHomeHotProductCate = (List<Entities.DTOs.ProductCategoryViewModel>)ViewBag.HotCategoryProduct;
    // var listProductCategoryShowOnHome = (List<Entities.DTOs.ProductCategoryShowOnHome>)ViewBag.ProductCategoryShowOnHome;
}
	<section class="awe-section-1 clearfix">
		<div class="home-slider">
			<div class="items"> <a href="#" class="clearfix">
					<picture>
						<source media="(max-width: 480px)" srcset="assets/images/slider_1_1.jpg">
						<source media="(min-width: 481px) and (max-width: 600px)" srcset="assets/images/slider_1_2.jpg">
						<source media="(min-width: 601px) and (max-width: 1023px)" srcset="assets/images/slider_1_3.jpg">
						<source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/images/slider_1_4.jpg">
						<source media="(min-width: 1200px)" srcset="assets/images/slider_1_4.jpg"> <img class="lazyload"
							src="assets/images/slider_1.jpg" alt="Slider 1">
					</picture>
				</a> </div>
			<div class="items"> <a href="#" class="clearfix">
					<picture>
						<source media="(max-width: 480px)" srcset="assets/images/slider_2_2.jpg">
						<source media="(min-width: 481px) and (max-width: 600px)" srcset="assets/images/slider_2_1.jpg">
						<source media="(min-width: 601px) and (max-width: 1023px)" srcset="assets/images/slider_2_3.jpg">
						<source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/images/slider_2_4.jpg">
						<source media="(min-width: 1200px)" srcset="assets/images/slider_2_4.jpg"> <img class="lazyload"
							src="assets/images/slider_2.jpg" alt="Slider 2">
					</picture>
				</a> </div>
			<div class="items"> <a href="" class="clearfix">
					<picture>
						<source media="(max-width: 480px)" srcset="assets/images/slider_3_1.jpg">
						<source media="(min-width: 481px) and (max-width: 600px)" srcset="assets/images/slider_3_2.jpg">
						<source media="(min-width: 601px) and (max-width: 1023px)" srcset="assets/images/slider_3_3.jpg">
						<source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/images/slider_3_4.jpg">
						<source media="(min-width: 1200px)" srcset="assets/images/slider_3_4.jpg"> <img class="lazyload"
							src="assets/images/slider_3.jpg" alt="Slider 3">
					</picture>
				</a> </div>
			<div class="items"> <a href="#" class="clearfix">
					<picture>
						<source media="(max-width: 480px)" srcset="assets/images/slider_4_1.jpg">
						<source media="(min-width: 481px) and (max-width: 600px)" srcset="assets/images/slider_4_2.jpg">
						<source media="(min-width: 601px) and (max-width: 1023px)" srcset="assets/images/slider_4_3.jpg">
						<source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/images/slider_4_4.jpg">
						<source media="(min-width: 1200px)" srcset="assets/images/slider_4_4.jpg"> <img class="lazyload"
							src="assets/images/slider_4.jpg" alt="Slider 4">
					</picture>
				</a> </div>
		</div>
		<script> 			$(document).ready(function ($) { $('.home-slider').slick({ lazyLoad: 'ondemand', centerMode: false, focusOnSelect: true, dots: false, loop: false, arrows: false, slidesToShow: 1 }); }); 		</script>
	</section>
	<section class="awe-section-2 clearfix">
		<aside class="adv_bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-7 col-xs-12">
						<div class="row">
							<div class="col-lg-12">
								<div class="adv_bottom_inner">
									<figure> <a href="#" title="Banner 1">
											<picture>
												<source media="(max-width: 480px)" srcset="assets/images/banner_1_1.jpg">
												<source media="(min-width: 481px) and (max-width: 600px)"
													srcset="assets/images/banner_1_1.jpg">
												<source media="(min-width: 601px) and (max-width: 1023px)"
													srcset="assets/images/banner_1.jpg">
												<source media="(min-width: 1024px) and (max-width: 1199px)"
													srcset="assets/images/banner_1.jpg">
												<source media="(min-width: 1200px)" srcset="assets/images/banner_1.jpg"> <img
													class="img-responsive lazyload"
													src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
													data-src="/assets/css/banner_1.jpg" alt="Banner 1">
											</picture>
										</a> </figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-5 col-xs-12">
						<div class="row">
							<div class="col-lg-12 margin-style">
								<div class="adv_bottom_inner">
									<figure> <a href="#" title="Banner 2">
											<picture>
												<source media="(max-width: 480px)" srcset="assets/images/banner_2.jpg">
												<source media="(min-width: 481px) and (max-width: 600px)"
													srcset="assets/images/banner_2.jpg">
												<source media="(min-width: 601px) and (max-width: 1023px)"
													srcset="assets/images/banner_2_1.jpg">
												<source media="(min-width: 1024px) and (max-width: 1199px)"
													srcset="assets/images/banner_2_1.jpg">
												<source media="(min-width: 1200px)" srcset="assets/images/banner_2_1.jpg"> <img
													class="img-responsive lazyload"
													src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
													data-src="/assets/css/banner_2.jpg" alt="Banner 2">
											</picture>
										</a> </figure>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="adv_bottom_inner">
									<figure> <a href="#" title="dsfds">
											<picture>
												<source media="(max-width: 480px)" srcset="assets/images/banner_3.jpg">
												<source media="(min-width: 481px) and (max-width: 600px)"
													srcset="assets/images/banner_3.jpg">
												<source media="(min-width: 601px) and (max-width: 1023px)"
													srcset="assets/images/banner_3_1.jpg">
												<source media="(min-width: 1024px) and (max-width: 1199px)"
													srcset="assets/images/banner_3_1.jpg">
												<source media="(min-width: 1200px)" srcset="assets/images/banner_3_1.jpg"> <img
													class="img-responsive lazyload"
													src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
													data-src="/assets/css/banner_3.jpg" alt="ad">
											</picture>
										</a> </figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</aside>
	</section>
	<section class="awe-section-3 clearfix">
		<section class="section_buy_many">
			<div class="container">
				<div class="row row-noGutter-2">
					<div class="content_hihi" style="margin-left:-1px">
						<div class="heading">
							<h2 class="title-head"> <a href="may-dong-goi">Máy đóng gói</a> </h2>
						</div>
						<div class="border_wrap">
							<div class="owl_product_comback ">
								<div class="product_comeback_wrap">
									<div class="owl_product_item_content owl-carousel not-dot2 not-nav3 "
										data-dot="false" data-nav="false" data-lg-items="5" data-md-items="4"
										data-sm-items="3" data-xs-items="2" data-margin="0">
										<div class="item saler_item col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
											<div class="owl_item_product product-col">
												<div class="product-box-h">
													<div class="row">
														<div class="col-sm-12 col-md-12 col-lg-12">
															<div class="product-thumbnail"> <a
																	class="image_link display_flex"
																	href="/may-hut-chan-khong-dzq-600"
																	title="Máy hút chân không DZQ 600"> <img
																		class="lazyload"
																		src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
																		data-src="//bizweb.dktcdn.net/thumb/large/100/415/549/products/thu-copy-1.jpg?v=1628938278870"
																		alt="Máy hút chân không DZQ 600"> </a> <a
																	title="Xem nhanh" href="/may-hut-chan-khong-dzq-600"
																	data-handle="may-hut-chan-khong-dzq-600"
																	class="xem_nhanh button_wh_40 btn_view right-to quick-view hidden-xs hidden-sm hidden-md">
																	Xem nhanh </a> </div>
														</div>
														<div class="col-sm-12 col-md-12 col-lg-12">
															<div class="product-info a-left">
																<h3 class="product-name"><a class="height_name"
																		href="/may-hut-chan-khong-dzq-600"
																		title="Máy hút chân không DZQ 600">Máy hút chân
																		không DZQ 600</a></h3>
																<div class="sapo-product-reviews-badge"
																	data-id="22698733"></div>
																<div class="product-hides">
																	<div class="product-hide">
																		<div class="price-box clearfix">
																			<div class="special-price"> <span
																					class="price product-price">18.900.000₫</span>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="product-action clearfix hidden-xs">
																	<form action="/cart/add" method="post"
																		class="variants form-nut-grid"
																		data-id="product-actions-22698733"
																		enctype="multipart/form-data">
																		<div> <input type="hidden" name="variantId"
																				value="50230095"> <button type="button" onclick="addtocart(1,1)"
																				class="btn-buy btn-cart btn btn-circle left-to add_to_cart "
																				title="Thêm vào giỏ hàng"> Đặt mua ngay
																			</button> </div>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<section class="awe-section-10 clearfix">
		<section class="section_service_end">
			<div class="container">
				<div class="row row-noGutter-2">
					<div class="wrap_item_srv owl-carousel owl-theme service_content" data-nav="false" data-dot="true"
						data-lg-items="4" data-md-items="3" data-xs-items="1" data-sm-items="2" data-margin="15">
						<div class="col-item-srv">
							<div class="service_item_ed"> <span class="iconx"> <img alt="Giao hàng miễn phí"
										class="lazyload"
										src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
										data-src="/assets/images/srv_1.png"> </span>
								<div class="content_srv"> <span class="title_service">Giao hàng miễn phí</span> <span
										class="content_service">Tùy từng sản phẩm và giá trị hàng</span> </div>
							</div>
						</div>
						<div class="col-item-srv">
							<div class="service_item_ed"> <span class="iconx"> <img
										alt="Điện Máy Tiến Đạt : Tổng kho điện máy uy tín." class="lazyload"
										src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
										data-src="/assets/images/srv_2.png"> </span>
								<div class="content_srv"> <span class="title_service">Sản phẩm chất lượng</span> <span
										class="content_service">Cam kết 100% hàng nhập khẩu chính hãng</span> </div>
							</div>
						</div>
						<div class="col-item-srv">
							<div class="service_item_ed"> <span class="iconx"> <img alt="Mua hàng giá ưu đãi"
										class="lazyload"
										src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
										data-src="/assets/images/srv_3.png"> </span>
								<div class="content_srv"> <span class="title_service">Mua hàng giá ưu đãi</span> <span
										class="content_service">Cơ hội nhận khuyến mãi &amp; giá sốc cuối tuần</span>
								</div>
							</div>
						</div>
						<div class="col-item-srv">
							<div class="service_item_ed"> <span class="iconx"> <img alt="Mua hàng tiết kiệm"
										class="lazyload"
										src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
										data-src="/assets/images/srv_4.png"> </span>
								<div class="content_srv"> <span class="title_service">Mua hàng tiết kiệm</span> <span
										class="content_service">Tiết kiệm chi phí khi mua hàng tại website của chúng
										tôi</span> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<link href="/assets/css/bpr-products-module.css" rel="stylesheet" type="text/css" media="all">
	<div class="sapo-product-reviews-module"></div>