<!-- Start Review Section -->
<section class="review-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel_slide1 review-slider bg_red same-nav owl-carousel owl-theme owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2190px;">
                            <div class="owl-item active" style="width: 730px;">
                                <div class="item review-box">
                                    <div class="client-img">
                                        <img src="/assets/images/reviewer-1.jpg" />
                                    </div>
                                    <div class="client-text">
                                        <div class="quote-icon"><img src="/assets/images/quote-icon.png" alt="quote-icon"></div>
                                        <p>Sản phẩm rất tốt - 10 điểm</p>
                                        <a href="#">- Bạn A</a>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 730px;">
                                <div class="item review-box">
                                    <div class="client-img">
                                        <img src="/assets/images/reviewer-2.jpg" />
                                    </div>
                                    <div class="client-text">
                                        <div class="quote-icon"><img src="/assets/images/quote-icon.png" alt="quote-icon"></div>
                                        <p>10 điểm</p>
                                        <a href="#">- Bạn B</a>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 730px;">
                                <div class="item review-box">
                                    <div class="client-img">
                                        <img src="/assets/images/reviewer-3.jpg" />
                                    </div>
                                    <div class="client-text">
                                        <div class="quote-icon"><img src="/assets/images/quote-icon.png" alt="quote-icon"></div>
                                        <p>10 điểm</p>
                                        <a href="#">- Bạn C</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Review Section -->